@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap');

:root
{
	--logo: url("assets/full_logo_with_tagline.svg");
	--bg-pattern: url("assets/bg.png");
	--white: #fafffd;
	--black: #1d2021;
	--light: 300;
	--medium: 500;
}

html, body
{
	padding: 0;
	margin: 0;
	height: 100%;
}

body
{
	display: flex;
	background-color: var(--white);
	background-image: var(--bg-pattern);
	color: var(--black);
	font-family: "Barlow", sans-serif;
	font-size: 20pt;
	font-weight: var(--medium);
	line-height: 1.4em;
}

div
{
	display: flex;
	flex-direction: column;
}

p
{
	margin: 0.5em;
	text-align: center
}

div.content
{
	justify-content: center;
	margin: auto;
}

div.content div.construction
{
	width: 100%;
}

div.content div.construction img
{
	max-width: 80%;
	max-height: 51px;
	margin: auto;
}

div.content div.logo
{
	align-items: center;
}

div.content div.logo img.logo
{
	max-width: 80%;
	height: 256px;
	content: var(--logo);
}
