@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap');

:root
{
	--logo: url("assets/full_logo_with_tagline.svg");
	--bg-pattern: url("assets/bg.png");
	--white: #f1fbfe;
	--light-blue: #eef9fe;
	--blue: #37abc8;
	--black: #0b090b;
	--yellow: #faa916;
	--grey: #6d676e;
	--light-grey: #edefef;
    --light: 300;
    --medium: 500;
}

html, body
{
	padding: 0;
	margin: 0;
	height: 100%;
}

body
{
	display: flex;
	flex-direction: column; /* Display in rows */
	background-color: var(--light-grey);
	color: var(--black);
	font-family: "Barlow", sans-serif;
	font-size: 16pt;
	font-weight: var(--light);
	line-height: 1.4em;
}

div
{
	display: flex;
}

div.header
{
	justify-content: center;
	padding: 2em 1em 3em 1em;
	background-image: url("assets/waves/blue-top.svg");
	background-position: bottom;
	background-repeat: repeat-x;
}

div.header div.header_container
{
	flex-wrap: wrap;
	width: 100%;
}

div.header div.header_container div.logo
{
	justify-content: center;
	width: 100%;
}

div.header div.header_container div.logo img.logo
{
	max-width: 450px;
	width: 100%;
	content: var(--logo);
}

div.wrapper
{
	background-image: url("assets/waves/blue-bottom.svg"), url("assets/waves/light-grey-top.svg"), url("assets/bg.png");
	background-position: top, bottom, top;
	background-repeat: repeat-x, repeat-x, repeat;
	flex-direction: column; /* Display in rows */
	align-items: center;
	flex-grow: 1;
	padding: 4em 1em;
	flex: 1 0 auto;
}

div.wrapper *
{
	max-width: 800px;
}

div.wrapper div
{
	flex-direction: column;
}

div.wrapper div p
{
	margin: 0.2em;
}

b
{
	font-weight: var(--medium);
}

a.verihash_logo
{
	width: 200px;
	margin: 0.25em 0 0 0.25em;
}

div.wrapper a.verihash_logo:hover
{
	border-bottom: 0px;
}

a.verihash_logo img
{
	width: 200px;
}

div.wrapper div.yellow_box
{
	background-color: var(--yellow);
	padding: 1em;
	border-radius: 0.5em;
	font-weight: var(--medium);
	margin: 1em 0;
	text-align: center;
}

div.wrapper div.yellow_box a
{
	color: var(--white);
	font-weight: var(--medium);
	text-decoration: none;
}

div.wrapper div.yellow_box a:hover
{
	text-decoration: none;
	border-bottom: 2px solid var(--white);
}

div.wrapper div.yellow_box p.left
{
	font-weight: var(--light);
	text-align: left;
}

div.wrapper a
{
	color: var(--blue);
	font-weight: var(--medium);
	text-decoration: none;
}

div.wrapper a:hover
{
	text-decoration: none;
	border-bottom: 2px solid var(--blue);
}

ul
{
	list-style: none; /* Remove default bullets */
	margin: 0 0 0.5em 0;
}
 
ul li
{
	margin: 0.5em 0 0 0;
}

ul li::before
{
	content: "\279c";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: var(--blue); /* Change the color */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1.5em; /* Also needed for space (tweak if needed) */
	margin-left: -1.5em; /* Also needed for space (tweak if needed) */
}

div h2:first-of-type
{
	margin: 0 0 1.5em 0;
}

div.tagline
{
	font-size: 22pt;
	justify-content: center;
	margin: 1em;
}

div.nowrap
{
	white-space: nowrap;
}

div.footer
{
	background-color: var(--light-grey);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 2em;
}

div.footer > div a
{
	color: var(--blue);
	margin: 0.25em;
	text-align: center;
	font-weight: var(--medium);
	font-size: 20pt;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.footer > div
{
	max-width: 800px;
	width: 100%;
	flex-direction: rows;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.footer > div div.links
{
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1em;
}

div.footer > div div.links a:hover
{
	color: var(--black);
}

div.footer > div a.logo img
{
	width: 100%;
	max-width: 275px;
	content: url("assets/logo_with_tagline.svg");
	margin-bottom: 1em;
}

div.footer > div div.links a img
{
	height: 1.1em;
	margin: 0 0.5em 0 1em;
	background-color: var(--blue);
	padding: 10px;
	border-radius: 10px;
}

div.footer > div div.links a.email img
{
	content: url("assets/email-white.svg");
}

div.footer > div div.links a.email:hover img
{
	content: url("assets/email-black.svg");
}

div.footer > div div.links a.discord img
{
	content: url("assets/discord-white.svg");
}

div.footer > div div.links a.discord:hover img
{
	content: url("assets/discord-black.svg");
}

div.copyright
{
	background-color: var(--light-grey);
	font-size: 12pt;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 0 0 1em 0;
}
